In [109]:
import os 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.font_manager as fm

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
curpath=os.getcwd()
curpath

'C:\\Users\\gg664\\AppData\\Local\\Programs\\Python\\Python38\\Scripts\\시각화프로젝트\\영화데이터분석'

In [4]:
#data 폴더로 작업경로를 변경합니다. (상대경로 사용)
os.chdir(path = './csvdata')
curpath=os.getcwd()
curpath

'C:\\Users\\gg664\\AppData\\Local\\Programs\\Python\\Python38\\Scripts\\시각화프로젝트\\영화데이터분석\\csvdata'

In [5]:
os.listdir()

['KOBIS_지역별_점유율_2020-08-16~2020-08-22.csv',
 'KOBIS_지역별_점유율_2020-08-23~2020-08-29.csv',
 'KOBIS_지역별_점유율_2020-08-30~2020-09-05.csv',
 'KOBIS_지역별_점유율_2020-09-06~2020-09-12.csv',
 'KOBIS_지역별_점유율_2020-09-13~2020-09-19.csv',
 'KOBIS_지역별_점유율_2020-09-20~2020-09-26.csv',
 'KOBIS_지역별_점유율_2020-09-27~2020-10-03.csv',
 'KOBIS_지역별_점유율_2020-10-04~2020-10-10.csv',
 'KOBIS_지역별_점유율_2020-10-11~2020-10-17.csv',
 'KOBIS_지역별_점유율_2020-10-18~2020-10-24.csv',
 'KOBIS_지역별_점유율_2020-10-25~2020-10-31.csv',
 'KOBIS_지역별_점유율_2020-11-01~2020-11-07.csv',
 'KOBIS_지역별_점유율_2020-11-08~2020-11-14.csv',
 'KOBIS_지역별_점유율_2020-11-15~2020-11-21.csv',
 'KOBIS_지역별_점유율_2020-11-22~2020-11-28.csv',
 'KOBIS_지역별_점유율_2020-11-29~2020-12-05.csv',
 'KOBIS_지역별_점유율_2020-12-06~2020-12-12.csv',
 'KOBIS_지역별_점유율_2020-12-13~2020-12-19.csv',
 'KOBIS_지역별_점유율_2020-12-20~2020-12-26.csv',
 'KOBIS_지역별_점유율_2020-12-27~2020-12-31.csv']

In [119]:
sdate_range=pd.date_range('2020-08-16','2020-12-26',freq = '7D') #real : 2020-12-26
sdate_range=pd.Series(sdate_range.format())
#list(sdate_range)

edate_range=pd.date_range('2020-08-22','2020-12-31',freq = '7D') #real :   2020-12-31
edate_range=pd.Series(edate_range.format())
#list(edate_range)

date_range = list(zip(sdate_range,edate_range))
#date_range

# 추가작업
date_range.append(('2020-12-27','2020-12-31'))
date_range

[('2020-08-16', '2020-08-22'),
 ('2020-08-23', '2020-08-29'),
 ('2020-08-30', '2020-09-05'),
 ('2020-09-06', '2020-09-12'),
 ('2020-09-13', '2020-09-19'),
 ('2020-09-20', '2020-09-26'),
 ('2020-09-27', '2020-10-03'),
 ('2020-10-04', '2020-10-10'),
 ('2020-10-11', '2020-10-17'),
 ('2020-10-18', '2020-10-24'),
 ('2020-10-25', '2020-10-31'),
 ('2020-11-01', '2020-11-07'),
 ('2020-11-08', '2020-11-14'),
 ('2020-11-15', '2020-11-21'),
 ('2020-11-22', '2020-11-28'),
 ('2020-11-29', '2020-12-05'),
 ('2020-12-06', '2020-12-12'),
 ('2020-12-13', '2020-12-19'),
 ('2020-12-20', '2020-12-26'),
 ('2020-12-27', '2020-12-31')]

In [127]:
movie_ex = pd.read_csv('KOBIS_지역별_점유율_2020-09-27~2020-10-03.csv', encoding='UTF-8')
movie_ex.dropna(inplace=True)
movie_ex

,■ 지역별 점유율,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
5,경기도,25,"3,242,299,510","347,811",23.7%,44,"1,109,104,820","129,938",25.2%,69,"4,351,404,330","477,749",24.1%
6,서울시,47,"2,907,653,040","303,405",20.7%,101,"1,457,551,750","161,152",31.3%,148,"4,365,204,790","464,557",23.5%
7,부산시,27,"987,541,020","103,653",7.1%,39,"282,606,300","33,850",6.6%,66,"1,270,147,320","137,503",6.9%
8,경상남도,24,"826,066,860","93,726",6.4%,21,"203,375,900","24,775",4.8%,45,"1,029,442,760","118,501",6.0%
9,대구시,23,"792,326,760","85,558",5.8%,23,"207,718,830","24,647",4.8%,46,"1,000,045,590","110,205",5.6%
10,인천시,18,"764,513,450","83,040",5.7%,23,"222,443,440","26,288",5.1%,41,"986,956,890","109,328",5.5%
11,대전시,20,"541,966,940","58,892",4.0%,25,"147,835,990","17,425",3.4%,45,"689,802,930","76,317",3.9%
12,광주시,23,"490,376,340","55,644",3.8%,22,"112,720,700","13,592",2.6%,45,"603,097,040","69,236",3.5%
13,충청남도,18,"482,825,280","54,669",3.7%,24,"123,897,860","14,635",2.8%,42,"606,723,140","69,304",3.5%
14,전라북도,22,"423,949,340","48,531",3.3%,14,"96,238,780","11,777",2.3%,36,"520,188,120","60,308",3.1%
15,경상북도,20,"424,566,840","49,099",3.4%,17,"86,089,420","10,537",2.0%,37,"510,656,260","59,636",3.0%
16,충청북도,17,"391,607,740","45,920",3.1%,19,"94,070,480","11,477",2.2%,36,"485,678,220","57,397",2.9%
17,전라남도,12,"331,316,570","39,533",2.7%,10,"65,190,040","7,984",1.6%,22,"396,506,610","47,517",2.4%
18,울산시,14,"321,372,240","34,709",2.4%,12,"87,076,920","10,146",2.0%,26,"408,449,160","44,855",2.3%
19,강원도,18,"310,331,790","32,912",2.3%,21,"76,131,460","9,215",1.8%,39,"386,463,250","42,127",2.1%
20,제주도,13,"168,346,980","18,488",1.3%,9,"37,572,960","4,395",0.9%,22,"205,919,940","22,883",1.2%
21,세종시,9,"84,354,270","9,289",0.6%,9,"29,696,230","3,718",0.7%,18,"114,050,500","13,007",0.7%
22,합계,350,"13,491,414,970","1,464,879",100%,433,"4,439,321,880","515,551",100%,783,"17,930,736,850","1,980,430",100%

In [131]:
## 초기화
seoul_movie=pd.DataFrame()
busan_movie=pd.DataFrame()

In [133]:
for date in date_range:
    
    date_index = date[0]+"~"+date[1]
    filename = "KOBIS_지역별_점유율_"+date_index+".csv"

    movie1 = pd.read_csv(filename, encoding='UTF-8')
    #movie1

    movie1.dropna(inplace=True)
    if filename == 'KOBIS_지역별_점유율_2020-09-27~2020-10-03.csv':
        movie1 = movie1.loc[[6,7],['■ 지역별 점유율','Unnamed: 10','Unnamed: 11']]
    else:
        movie1 = movie1.loc[[5,7],['■ 지역별 점유율','Unnamed: 10','Unnamed: 11']]
        
    movie1.rename({'■ 지역별 점유율':'지역','Unnamed: 10':'매출액','Unnamed: 11':'관객수'},axis='columns',inplace=True)
    movie1['기간']=date_index
    movie1['시작일']= date[0]

    seoul_movie = pd.concat([seoul_movie,movie1[movie1['지역'] == '서울시']])
    busan_movie = pd.concat([busan_movie,movie1[movie1['지역'] == '부산시']])

In [134]:
seoul_movie.set_index('시작일',inplace=True)
seoul_movie

             지역            매출액      관객수                     기간
시작일
2020-08-16  서울시  3,361,656,490  368,804  2020-08-16~2020-08-22
2020-08-23  서울시  2,189,550,260  247,399  2020-08-23~2020-08-29
2020-08-30  서울시  1,842,116,650  200,100  2020-08-30~2020-09-05
2020-09-06  서울시  1,733,144,880  188,395  2020-09-06~2020-09-12
2020-09-13  서울시  1,571,785,690  172,993  2020-09-13~2020-09-19
2020-09-20  서울시  1,686,750,342  194,747  2020-09-20~2020-09-26
2020-09-27  서울시  4,365,204,790  464,557  2020-09-27~2020-10-03
2020-10-04  서울시  2,310,220,710  243,950  2020-10-04~2020-10-10
2020-10-11  서울시  1,635,498,260  175,172  2020-10-11~2020-10-17
2020-10-18  서울시  2,051,049,940  235,614  2020-10-18~2020-10-24
2020-10-25  서울시  2,345,716,060  266,763  2020-10-25~2020-10-31
2020-11-01  서울시  2,686,707,390  290,238  2020-11-01~2020-11-07
2020-11-08  서울시  2,595,964,430  284,599  2020-11-08~2020-11-14
2020-11-15  서울시  2,087,858,250  229,587  2020-11-15~2020-11-21
2020-11-22  서울시  1,340,672,930  155,879  2020-11-22~2020-11-28
2020-11-29  서울시    978,608,420  116,440  2020-11-29~2020-12-05
2020-12-06  서울시    752,040,660   87,820  2020-12-06~2020-12-12
2020-12-13  서울시    606,209,800   71,087  2020-12-13~2020-12-19
2020-12-20  서울시  1,249,933,430  141,279  2020-12-20~2020-12-26
2020-12-27  서울시    754,663,270   91,153  2020-12-27~2020-12-31

In [135]:
busan_movie.set_index('기간',inplace=True)
busan_movie

                        지역            매출액      관객수         시작일
기간
2020-08-16~2020-08-22  부산시  1,114,537,230  123,943  2020-08-16
2020-08-23~2020-08-29  부산시    618,924,290   71,890  2020-08-23
2020-08-30~2020-09-05  부산시    467,448,880   53,630  2020-08-30
2020-09-06~2020-09-12  부산시    401,747,560   45,878  2020-09-06
2020-09-13~2020-09-19  부산시    350,543,860   40,374  2020-09-13
2020-09-20~2020-09-26  부산시    369,444,420   43,470  2020-09-20
2020-09-27~2020-10-03  부산시  1,270,147,320  137,503  2020-09-27
2020-10-04~2020-10-10  부산시    677,889,690   74,197  2020-10-04
2020-10-11~2020-10-17  부산시    425,792,690   46,497  2020-10-11
2020-10-18~2020-10-24  부산시    517,480,560   57,976  2020-10-18
2020-10-25~2020-10-31  부산시    610,113,200   72,140  2020-10-25
2020-11-01~2020-11-07  부산시    714,585,170   80,006  2020-11-01
2020-11-08~2020-11-14  부산시    709,390,750   79,471  2020-11-08
2020-11-15~2020-11-21  부산시    615,709,150   70,033  2020-11-15
2020-11-22~2020-11-28  부산시    418,791,390   49,512  2020-11-22
2020-11-29~2020-12-05  부산시    231,147,290   27,151  2020-11-29
2020-12-06~2020-12-12  부산시    179,772,960   20,889  2020-12-06
2020-12-13~2020-12-19  부산시    137,530,150   16,161  2020-12-13
2020-12-20~2020-12-26  부산시    263,412,500   30,494  2020-12-20
2020-12-27~2020-12-31  부산시    162,778,220   20,138  2020-12-27

In [136]:
seoul_movie.to_csv("../result_2020/seoul_movie_2020.csv",encoding="utf-8-sig")

In [137]:
busan_movie.to_csv("../result_2020/busan_movie_2020.csv",encoding="utf-8-sig")