In [2]:
import os
import pandas as pd

In [3]:
os.chdir(path = '../댁경_코로나접종현황/csv/')

In [38]:
curpath=os.getcwd()
curpath

'C:\\Users\\DAEGYEONGLEE\\00_Jupyter notebook_workspace\\4조_DataProject\\데이터_분석\\댁경_코로나접종현황\\csv'

In [39]:
 os.listdir()

['KOBIS_지역별_점유율_2021-08-18 (36).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (37).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (38).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (39).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (40).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (41).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (42).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (43).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (44).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (45).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (46).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (47).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (48).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (49).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (50).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (51).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (52).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (53).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (54).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (55).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (56).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (57).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (58).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (59).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (60).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (63).xls.csv']

In [40]:
csv_list = os.listdir()
csv_list

['KOBIS_지역별_점유율_2021-08-18 (36).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (37).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (38).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (39).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (40).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (41).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (42).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (43).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (44).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (45).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (46).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (47).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (48).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (49).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (50).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (51).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (52).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (53).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (54).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (55).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (56).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (57).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (58).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (59).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (60).xls.csv',
 'KOBIS_지역별_점유율_2021-08-18 (63).xls.csv']

In [41]:
sdate_range = pd.date_range('2021-01-01','2021-03-03',freq = '7D')
sdate_range=pd.Series(sdate_range.format())

In [42]:
sdate_range

0    2021-01-01
1    2021-01-08
2    2021-01-15
3    2021-01-22
4    2021-01-29
5    2021-02-05
6    2021-02-12
7    2021-02-19
8    2021-02-26
dtype: object

In [43]:
for i in range(9):
    globals()['list_{}'.format(i)] = pd.read_csv(csv_list[i])
    globals()['list_{}'.format(i)] = globals()['list_{}'.format(i)].loc[[5,7],['■ 지역별 점유율','Unnamed: 10','Unnamed: 11']]
    globals()['list_{}'.format(i)]['주'] = sdate_range[i]
    globals()['list_{}'.format(i)].rename({'■ 지역별 점유율':'지역','Unnamed: 10':'매출액','Unnamed: 11':'관객수'},axis='columns',inplace=True)

In [44]:
for i in range(9):   
    list_0 = pd.concat([list_0,globals()['list_{}'.format(i)]])

In [45]:
list_2021_sbv_2 = list_0[list_0['지역']=='서울시']

In [46]:
list_2021_bbv_2 = list_0[list_0['지역']=='부산시']

In [81]:
list_2021_bbv_2.to_csv('./2021_~02부산.csv',encoding='utf-8')

In [82]:
list_2021_sbv_2.to_csv('./2021_~02서울.csv',encoding='utf-8')

In [47]:
sdate_range = pd.date_range('2021-03-11','2021-06-30',freq = '7D')
sdate_range = pd.Series(sdate_range.format())

In [48]:
sdate_range

0     2021-03-11
1     2021-03-18
2     2021-03-25
3     2021-04-01
4     2021-04-08
5     2021-04-15
6     2021-04-22
7     2021-04-29
8     2021-05-06
9     2021-05-13
10    2021-05-20
11    2021-05-27
12    2021-06-03
13    2021-06-10
14    2021-06-17
15    2021-06-24
dtype: object

In [69]:
for i in range(9,25):
    globals()['list_{}'.format(i)] = pd.read_csv(csv_list[i])
    globals()['list_{}'.format(i)] = globals()['list_{}'.format(i)].loc[[5,7],['■ 지역별 점유율','Unnamed: 10','Unnamed: 11']]
    globals()['list_{}'.format(i)]['주'] = sdate_range[i-9]
    globals()['list_{}'.format(i)].rename({'■ 지역별 점유율':'지역','Unnamed: 10':'매출액','Unnamed: 11':'관객수'},axis='columns',inplace=True)

In [71]:
for i in range(10,25):   
    list_9 = pd.concat([list_9,globals()['list_{}'.format(i)]])

In [72]:
list_2021_sbv = list_9[list_9['지역']=='서울시']

In [76]:
list_2021_bbv = list_9[list_9['지역']=='부산시']

In [77]:
list_2021_sbv

    지역            매출액      관객수           주
5  서울시  2,370,034,110  245,237  2021-03-11
5  서울시  2,089,378,170  221,908  2021-03-18
5  서울시  2,156,717,370  223,590  2021-03-25
5  서울시  2,394,668,990  261,118  2021-04-01
5  서울시  1,826,626,560  193,633  2021-04-08
5  서울시  1,481,982,720  158,687  2021-04-15
5  서울시  1,709,790,330  183,278  2021-04-22
5  서울시  1,796,128,240  207,101  2021-04-29
5  서울시  2,713,673,630  290,264  2021-05-06
5  서울시  1,365,881,880  148,365  2021-05-13
5  서울시  2,551,193,710  266,485  2021-05-20
5  서울시  2,886,481,360  310,014  2021-05-27
5  서울시  3,308,331,430  345,848  2021-06-03
5  서울시  3,216,698,320  327,510  2021-06-10
5  서울시  3,014,873,260  312,236  2021-06-17
5  서울시  2,089,378,170  221,908  2021-03-18
5  서울시  2,156,717,370  223,590  2021-03-25
5  서울시  2,394,668,990  261,118  2021-04-01
5  서울시  1,826,626,560  193,633  2021-04-08
5  서울시  1,481,982,720  158,687  2021-04-15
5  서울시  1,709,790,330  183,278  2021-04-22
5  서울시  1,796,128,240  207,101  2021-04-29
5  서울시  2,713,673,630  290,264  2021-05-06
5  서울시  1,365,881,880  148,365  2021-05-13
5  서울시  2,551,193,710  266,485  2021-05-20
5  서울시  2,886,481,360  310,014  2021-05-27
5  서울시  3,308,331,430  345,848  2021-06-03
5  서울시  3,216,698,320  327,510  2021-06-10
5  서울시  3,014,873,260  312,236  2021-06-17
5  서울시  3,675,390,440  377,430  2021-06-24

In [78]:
list_2021_sbv_2

    지역            매출액      관객수           주
5  서울시    625,176,800   71,052  2021-01-01
5  서울시    625,176,800   71,052  2021-01-01
5  서울시    446,257,140   50,249  2021-01-08
5  서울시    761,371,720   85,940  2021-01-15
5  서울시  2,050,589,220  230,553  2021-01-22
5  서울시  2,287,327,000  246,303  2021-01-29
5  서울시  2,358,611,200  247,998  2021-02-05
5  서울시  2,299,673,230  241,331  2021-02-12
5  서울시  1,955,377,880  215,607  2021-02-19
5  서울시  2,226,500,250  242,385  2021-02-26

In [80]:
list_2021_bbv

    지역          매출액     관객수           주
7  부산시  513,370,590  56,521  2021-03-11
7  부산시  438,756,130  48,866  2021-03-18
7  부산시  425,217,210  46,215  2021-03-25
7  부산시  522,446,130  60,290  2021-04-01
7  부산시  395,182,360  43,284  2021-04-08
7  부산시  314,571,750  35,267  2021-04-15
7  부산시  390,483,590  42,905  2021-04-22
7  부산시  445,720,640  51,929  2021-04-29
7  부산시  656,383,270  73,087  2021-05-06
7  부산시  321,925,980  35,956  2021-05-13
7  부산시  691,293,590  74,418  2021-05-20
7  부산시  814,105,630  90,495  2021-05-27
7  부산시  733,089,700  79,243  2021-06-03
7  부산시  780,069,950  82,722  2021-06-10
7  부산시  679,511,920  71,450  2021-06-17
7  부산시  438,756,130  48,866  2021-03-18
7  부산시  425,217,210  46,215  2021-03-25
7  부산시  522,446,130  60,290  2021-04-01
7  부산시  395,182,360  43,284  2021-04-08
7  부산시  314,571,750  35,267  2021-04-15
7  부산시  390,483,590  42,905  2021-04-22
7  부산시  445,720,640  51,929  2021-04-29
7  부산시  656,383,270  73,087  2021-05-06
7  부산시  321,925,980  35,956  2021-05-13
7  부산시  691,293,590  74,418  2021-05-20
7  부산시  814,105,630  90,495  2021-05-27
7  부산시  733,089,700  79,243  2021-06-03
7  부산시  780,069,950  82,722  2021-06-10
7  부산시  679,511,920  71,450  2021-06-17
7  부산시  858,280,140  89,771  2021-06-24

In [83]:
list_2021_bbv.to_csv('./2021_03~06부산.csv',encoding='utf-8')

In [84]:
list_2021_sbv.to_csv('./2021_03~06서울.csv',encoding='utf-8')